language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - '7.0'
  - '7.1'
  - '7.2'
  - nightly

before_install:
  - composer self-update

install: composer update --prefer-dist $COMPOSER_FLAGS

script: composer run-script check
